* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
/* Navbar */
.header {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(./images/banner.png);
  background-size: cover;
  background-position: center;
  position: relative;
}
nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}
nav img {
  width: 150px;
}
.nav_link {
  flex: 1;
  text-align: right;
}
.nav_link ul li {
  display: inline-block;
  list-style: none;
  padding: 8px 12px;
  position: relative;
}
.nav_link ul li a {
  color: white;
  text-decoration: none;
  font-size: 13px;
}
.nav_link ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav_link ul li:hover::after {
  width: 100%;
}
.text_box {
  width: 90%;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.text_box h1 {
  font-size: 62px;
}
.text_box p {
  margin: 10px 0 40px;
  font-size: 14px;
  color: white;
}
.hero_btn {
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 12px 34px;
  border: 1px solid white;
  font-size: 13px;
  border-radius: 5px;
  font-weight: 600;
  background-color: transparent;
  position: relative;
  cursor: pointer;
}
.hero_btn:hover {
  border: 1px solid #f44336;
  background-color: #f44336;
  transition: 1s;
}
nav .fa-solid {
  display: none;
}
@media (max-width: 700px) {
  .text_box h1 {
    font-size: 20px;
  }
  .text_box p {
    margin: 10px 0 40px;
    font-size: 12px;
    color: white;
  }
  .nav_link ul li {
    display: block;
  }
  .nav_link {
    width: 200px;
    height: 100vh;
    position: absolute;
    top: 0;
    right: -200px; /* menu hidden at left */
    text-align: left;
    background-color: #f44336;
    z-index: 999;
    transition: 1s;
  }
  nav .fa-solid {
    display: block;
    font-size: 22px;
    margin: 10px;
    cursor: pointer;
    color: white;
  }
  .nav_link ul {
    padding: 30px;
  }
}

/* Course */
.course {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
.course h1 {
  font-size: 36px;
  font-weight: 600;
}
p {
  color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}
.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}
.course_col {
  flex-basis: 31%;
  background: rgba(243, 231, 231, 0.2);
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  transition: 0.5s;
}
.course_col:hover {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}
h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px 0px;
}
@media (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

/* Campus */
.campus {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}
.campus h1 {
  font-size: 36px;
  font-weight: 600;
}
.campus p {
  color: #777;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}
.campus_col {
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}
.campus_col img {
  display: block;
  width: 100%;
  height: 100%;
}
.layer {
  background-color: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}
.layer:hover {
  background-color: rgba(4, 9, 30, 0.6);
}
.layer h3 {
  width: 100%;
  color: white;
  font-weight: 500;
  font-size: 26px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: 0.5s;
}
.campus_col:hover h3 {
  opacity: 1;
  bottom: 49%;
}
@media (max-width: 700px) {
  .layer {
    width: 100%;
    height: 100%;
  }
}

/* Facilities */
.facilities {
  width: 80%;
  text-align: center;
  margin: auto;
  padding-top: 100px;
}
.facilities_col {
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
}
.facilities_col img {
  border-radius: 10px;
  width: 100%;
}
.facilities p {
  padding: 0;
}
.facilities h3 {
  text-align: left;
  margin-bottom: 15px;
  margin-top: 16px;
}

/* testimonials */
.testimonials {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
.testimonials_col {
  flex-basis: 44%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
  background-color: #fcf0f0;
  padding: 25px;
  cursor: pointer;
  display: flex;
}
.testimonials_col:hover {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}
.testimonials_col img {
  height: 50px;
  margin-left: 5px;
  margin-right: 30px;
  border-radius: 50%;
}
.testimonials_col p {
  padding: 0;
  color: black;
  font-weight: 300;
}
.testimonials_col h3 {
  text-align: left;
}
.testimonials_col .fa-solid,
.fa-regular {
  color: #f44336;
}
@media (max-width: 700px) {
  .testimonials_col img {
    margin-left: 0;
    margin-right: 15px;
  }
}
/* CTA */
.cta {
  width: 80%;
  margin: 100px auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("./images/banner2.jpg");
  background-position: center;
  background-size: cover;
  text-align: center;
  border-radius: 10px;
  padding: 100px 0;
}
.cta h1 {
  color: white;
  margin-bottom: 40px;
  padding: 0;
}

@media (max-width: 700px) {
  .cta h1 {
    font-size: 20px;
  }
}

/* Footer */
.footer {
  width: 100%;
  text-align: center;
}
.footer h4 {
  margin: 25px 0 20px 0;
  font-weight: 600;
}
.icons,
.fa-brands {
  cursor: pointer;
  color: #f44336;
  margin: 0 14px;
  padding: 18px 0;
  font-size: 1rem;
}
.fa-heart {
  color: #f44336;
  padding: 0;
  margin: 0px 3px;
}

/* About Page */
.Sub_header {
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url("./images/background.jpg");
  background-position: center;
  background-size: cover;
  text-align: center;
  color: white;
}
.Sub_header h1 {
  margin-top: 100px;
}
.about_us {
  width: 80%;
  margin: auto;
  padding: 100px 0 100px 0;
  text-align: left;
}
.about_col {
  flex-basis: 48%;
  padding: 30px 2px;
}
.about_col img {
  width: 100%;
}
.about_col h1 {
  padding-top: 0;
  text-align: left;
}
.about_col p {
  padding: 15px 0px 25px;
  text-align: left;
  line-height: 2;
}
.red_btn {
  border: 1px solid #f44336;
  background: transparent;
  color: #f44336;
}
.red_btn:hover {
  color: white;
}
.about_link {
  height: 50%;
}

/* Blog  */
.blog_content {
  width: 80%;
  margin: auto;
  padding: 60px 0;
}
.blog_left {
  flex-basis: 65%;
}
.blog_left img {
  width: 100%;
}
.blog_left h2 {
  color: #222;
  font-weight: 600;
  margin: 30px 0;
}
.blog_left p {
  color: #999;
  padding: 0;
  text-align: left;
  font-size: 12px;
}
.blog_right {
  flex-basis: 31%;
}
.blog_right h3 {
  background: #f44336;
  color: #fff;
  padding: 7px 0;
  font-size: 1rem;
  margin-bottom: 20px;
}
.blog_right div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  color: #555;
}
.comment_box {
  border: 1px solid #ccc;
  margin: 50px 0;
  padding: 10px 20px;
}
.comment_box h3 {
  text-align: left;
}
.comment_form input,
textarea {
  width: 100%;
  padding: 10px;
  margin: 15px 0;
  border: none;
  outline: none;
  background-color: #f0f0f0;
}
.comment_form button {
  margin: 10px 0;
}

@media (max-width: 700px) {
  .Sub_header h1 {
    font-size: 24px;
  }
}

/* Contact */
.location {
  width: 80%;
  margin: auto;
  padding: 80px 0;
}
.location iframe {
  width: 100%;
}
.contact_us {
  width: 80%;
  margin: auto;
}
.contact_col {
  flex-basis: 48%;
  margin-bottom: 30px;
}
.contact_col div {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.contact_col div .fa-solid {
  font-size: 24px;
  color: #f44336;
  margin: 10px;
  margin-right: 30px;
}
.contact_col div p {
  padding: 0;
}
.contact_col div h5 {
  font-size: 16px;
  margin-bottom: 5px;
  color: #555;
  font-weight: 400;
}
.contact_col input, .contact_col textarea{
  width: 100%;
  padding: 15px;
  margin-bottom: 17px;
  outline: none;
  border: none;
}